.uploadCSV {
    padding: 20px;
    background-color: #f9f9f9; 
    width: 100%;
    max-width: 1000px; 
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px; 
    min-height: 80vh; 
  }
  
  .uploadCSV h1, .uploadCSV h2 {
    color: #333;
    text-align: center;
  }
  
  