.uploadCSV {
    padding: 20px;
    background-color: #f9f9f9; /* Light gray background */
    width: 100%;
    max-width: 1000px; /* Adjust the width as needed */
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: add shadow for depth */
    border-radius: 5px; /* Optional: round the corners */
    min-height: 80vh; /* Ensure the content takes up the full height */
  }
  
  .uploadCSV h1, .uploadCSV h2 {
    color: #333;
    text-align: center;
  }
  
  